@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(135deg, white 0%, #fff5f5 100%);
}
@media screen and (min-width: 1440px) {
  body {
    display: grid;
    grid-template-columns: auto 42.3%;
    grid-template-rows: 27.8% auto;
    grid-template-areas: "header hero" "email hero";
  }
}
body .background {
  display: none;
}
@media screen and (min-width: 1440px) {
  body .background {
    display: block;
    position: absolute;
    width: 57.7%;
    height: 100vh;
    z-index: -1;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

header {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1440px) {
  header {
    grid-area: header;
  }
}
header .logo-container {
  width: 375px;
  height: 84px;
}
@media screen and (min-width: 1440px) {
  header .logo-container {
    width: 100%;
    height: 234px;
    margin-left: 165px;
  }
}
header .logo-container img {
  width: 100px;
  height: 21px;
  margin-top: 31px;
  margin-left: 32px;
}
@media screen and (min-width: 1440px) {
  header .logo-container img {
    width: 158px;
    height: 33px;
    margin-top: 65px;
    margin-left: 0px;
  }
}

.hero-container {
  width: 100%;
  height: 250px;
  background-image: url("./images/hero-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1440px) {
  .hero-container {
    grid-area: hero;
    background-image: url("./images/hero-desktop.jpg");
    height: 100%;
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  main {
    align-items: flex-start;
  }
}
main .email-input {
  width: 311px;
  margin-top: 61px;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  main .email-input {
    width: 445px;
    margin-top: 10px;
    margin-left: 165px;
    text-align: start;
  }
}
main .email-input .email-input__title1 {
  font-size: 40px;
  font-weight: 300;
  line-height: 42px;
  letter-spacing: 10.82px;
  color: #ce9797;
}
@media screen and (min-width: 1440px) {
  main .email-input .email-input__title1 {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 17.32px;
  }
}
main .email-input .email-input__title2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 10.82px;
}
@media screen and (min-width: 1440px) {
  main .email-input .email-input__title2 {
    font-size: 64px;
    line-height: 71px;
    letter-spacing: 17.32px;
  }
}
main .email-input .email-input__description {
  margin-top: 16px;
  font-size: 14px;
  line-height: 22px;
  color: #ce9797;
}
@media screen and (min-width: 1440px) {
  main .email-input .email-input__description {
    margin-top: 20px;
    font-size: 16px;
    width: 444px;
    line-height: 28px;
  }
}
main .input-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 1440px) {
  main .input-container {
    margin-top: 40px;
  }
}
main .input-container input {
  width: 311px;
  height: 48px;
  border: 1px solid #ce9797;
  border-radius: 28px;
  font-family: josefin sans;
  font-size: 14px;
  padding-left: 25px;
  padding-right: 100px;
  outline: none;
  background: transparent;
}
main .input-container input::placeholder {
  color: #ce9797;
}
@media screen and (min-width: 1440px) {
  main .input-container input {
    width: 445px;
    height: 56px;
    font-size: 16px;
    padding-left: 30px;
  }
}
main .input-container button {
  position: absolute;
  left: 247px;
  width: 64px;
  height: 48px;
  border-radius: 28px;
  border: none;
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8c8c 100%);
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
  cursor: pointer;
}
main .input-container button:active {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 1440px) {
  main .input-container button {
    width: 100px;
    height: 56px;
    left: 345px;
  }
}
main .input-container .error-container {
  display: none;
  position: absolute;
  left: 216px;
  top: 12px;
}
@media screen and (min-width: 1440px) {
  main .input-container .error-container {
    top: 16px;
    left: 305px;
  }
}
main .invalid-email-message {
  display: none;
  font-size: 13px;
  text-align: start;
  color: #f96262;
  padding-top: 8px;
  padding-left: 25px;
}
@media screen and (min-width: 1440px) {
  main .invalid-email-message {
    padding-left: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
